<!DOCTYPE html>
<html data-ng-app="jiraCardApp" id="ng-app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Jira Ticket Generator</title>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles/card.css">

    <script type="text/javascript">
        var λ = fn = function(func) {
            return Function("_", "_2", "return "+func);
        };
    </script>
</head>
<body>
    <div class="container">
        <div data-ng-controller="AppCtrl">
            <!-- LoginCtrl -->
            <div data-ng-controller="LoginCtrl" data-ng-show="!isCardView">
                <h1>Jira Ticket Generator</h1>
                <hr />

                <form class="form-horizontal" role="form" name="loginForm" novalidate>
                    <div class="row">
                        <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                        <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>

                        <div class="col-md-8 col-sm-8">
                            <div id="stageOne">
                                <div class="form-group form-group-sm">
                                    <span class="label label-danger" data-ng-show="submitted && loginForm.location.$error.required">Required!</span>
                                    <label for="location" class="col-sm-2 control-label">Location</label>
                                    <div class="col-sm-10">
                                        <input id="location" type="text" class="form-control" placeholder="https://jira.company.tld" required
                                               data-ng-model="location">
                                    </div>
                                </div>
                                <div class="form-group form-group-sm" data-ng-show="!isLoggedIn">
                                    <label for="username" class="col-sm-2 control-label">Username</label>
                                    <span class="label label-danger" data-ng-show="submitted && loginForm.username.$error.required">Required!</span>
                                    <div class="col-sm-10">
                                        <input id="username" type="text" class="form-control" placeholder="Username" value="" required
                                               data-ng-model="username">
                                    </div>
                                </div>
                                <div class="form-group form-group-sm" data-ng-show="!isLoggedIn">
                                    <label for="pass" class="col-sm-2 control-label">Password</label>
                                    <span class="label label-danger" data-ng-show="submitted && loginForm.password.$error.required">Required!</span>
                                    <div class="col-sm-10">
                                        <input id="pass" type="password" class="form-control" placeholder="pass" value="" required
                                               data-ng-model="pass">
                                    </div>
                                </div>
                                <div class="form-group form-group-sm" data-ng-show="!isLoggedIn">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-default"
                                                data-ng-disabled="progress.active()"
                                                data-ng-click="submit(loginForm)">
                                            Connect to Jira
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div data-ng-controller="WizardCtrl" data-ng-show="!isCardView">
                <hr />
                <form class="form-horizontal" name="wizardForm" role="form" data-ng-show="isLoggedIn">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div id="stageTwo">
                                <h3>Ticket Wizard</h3>

                                <div class="form-group form-group-sm">
                                    <label for="wizardType" class="col-sm-2 control-label">Type</label>
                                    <div class="col-sm-10">
                                        <select id="wizardType" class="form-control"
                                                ng-model="wizard.type"
                                                ng-change="changeType()"
                                                ng-options="obj.name for obj in types track by obj.id">
                                            <option value="">-- choose type --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group form-group-sm" data-ng-show="canShow('project')">
                                    <label for="projectsDropDown" class="col-sm-2 control-label">Project</label>
                                    <div class="col-sm-10">
                                        <select id="projectsDropDown" class="form-control"
                                                ng-model="wizard.project"
                                                ng-change="selectHandler('project')"
                                                ng-options="obj.name for obj in getCollection('project') track by obj.id">
                                            <option value="">-- choose project --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group form-group-sm" data-ng-show="canShow('fixVersion')">
                                    <label for="sprintsDropDown" class="col-sm-2 control-label">Version</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="sprintsDropDown"
                                                ng-model="wizard.fixVersion"
                                                ng-change="selectHandler('fixVersion')"
                                                ng-options="obj.name for obj in getCollection('fixVersion') track by obj.id">
                                            <option value="">-- choose fix version --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group form-group-sm" data-ng-show="canShow('tickets')">
                                    <label for="csvJiras" class="col-sm-2 control-label">Tickets</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="csvJiras" class="form-control" data-ng-model="collection.tickets" />
                                    </div>
                                </div>

                                <div class="form-group form-group-sm" data-ng-show="canShow('submit')">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" class="btn btn-default"
                                                data-ng-click="submit(loginForm)">
                                            Fetch Tickets
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div data-ng-controller="TicketCtrl" data-ng-show="!isCardView && hasTickets">
                <hr />
                <form class="form-horizontal" name="cardChooserForm" role="form">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <th>Print</th>
                                <th>Issue Key</th>
                                <th>Issue Type</th>
                                <th>Description</th>
                            </thead>
                            <tbody ng-repeat="(ticketKey, ticket) in tickets">
                                <tr>
                                    <td>
                                        <input type="checkbox" value="{{ ticket.id }}"
                                               ng-checked="selection.indexOf(ticket.key) > -1"
                                               ng-click="toggleSelection(ticket.key)" />
                                    </td>
                                    <td>{{ ticket.key }}</td>
                                    <td>{{ ticket.fields.issuetype.name }}</td>
                                    <td>{{ ticket.fields.summary }}</td>
                                </tr>
                                <tr ng-repeat="subticket in ticket.subtasks">
                                    <td class="text-right">
                                        <input type="checkbox" value="{{ subticket.id }}"
                                               ng-checked="selection.indexOf(subticket.key) > -1"
                                               ng-click="toggleSelection(subticket.key)" />
                                    </td>
                                    <td>{{ subticket.key }}</td>
                                    <td>{{ subticket.fields.issuetype.name }}</td>
                                    <td>{{ subticket.fields.summary }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="form-group form-group-sm">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default"
                                        data-ng-click="generateCards()">
                                    Generate Tasks
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div data-ng-controller="CardCtrl" data-ng-show="isCardView">
                <div class="ticket color Technical_task" ng-repeat="card in cards">
                    <div class="titleRow">
                        <div class="titleElement key">
                            <div class="project">{{ getProject(card) }}</div>
                            <div class="number">{{ getIssueNumber(card) }}</div>
                        </div>
                        <span class="titleElement owner">{{ getType(card) }}</span>
                    </div>
                    <div class="summaryElement">
                        <span class="component">{{ getTitle(card) }}</span>
                        <span class="summary">{{ getSummary(card) }}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-promise-tracker/promise-tracker.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/controllers/wizard.js"></script>
    <script src="js/controllers/ticket.js"></script>
    <script src="js/controllers/card.js"></script>
    <script src="js/providers/jira.js"></script>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-52587804-1");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>

</body>
</html>